.background{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs6z63P_zs5bMdv2lTxvX_BugApMvACkXo7w&s');
    background-position:  relative;
    background-size: 250px 250px;

    
}